.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.game__firstScreen {
    height: 200px;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #435E64;
}
.game__firstScreen img {
    width: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.game__firstScreen button {
    width: 115px;
    height: 20px;
    border-radius: 10px;
    font-size: 1.6rem;
    border: none;
    background-color: #003858;
}
.game__secondScreen {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #435E64;
}
.game__secondScreen img {
    width: 70%;
    margin: 10px 0 15px;
}
.game__secondScreen span {
    font-size: 1.2rem;
} 
.game__thirdScreen{
    width: 100%;
    height: 300px;
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #435E64;
}
.game__thirdScreen__personagens {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 25px;
}
.game__thirdScreen__personagens img {
    width: 50px;
    height: 50px;
}
.personagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personagem img {
    height: 80px;
    width: 101px;
}
.personagem h4 {
    font-size: 1.6rem;
}
.personagem table td {
    padding-right: 12px;
    padding-left: 12px ;
}