.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;

    @media (min-width: 744px) {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}
.game__firstScreen {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #435E64;

    @media (min-width: 744px) {
    margin-top: 40px;
    height: 400px;
    }
}
.game__firstScreen img {
    width: 180px;
    margin-bottom: 10px;
    border-radius: 5px;

    @media (min-width: 744px) {
        width: 331px;
        margin-top: 35px;
    }
}
.game__firstScreen button {
    width: 115px;
    height: 20px;
    border-radius: 10px;
    font-size: 1.6rem;
    border: none;
    background-color: #003858;

    @media (min-width: 744px) {
        width: 262px;
        height: 40px;
        font-size: 2.4rem;
        margin-top: 15px;
    }
}
.game__secondScreen {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #435E64;

    @media (min-width: 744px) {
        margin-top: 15px;
        height: 400px;
    }
}
.game__secondScreen img {
    width: 70%;
    margin: 10px 0 15px;
}
.game__secondScreen span {
    font-size: 1.2rem;

    @media (min-width: 744px) {
        font-size: 2rem;
    }
} 
.game__thirdScreen{
    width: 100%;
    height: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #435E64;

    @media (min-width: 744px) {
        margin-top: 40px;
        height: 400px;
    }
}
.game__thirdScreen__personagens {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
}
.game__thirdScreen__personagens img {
    width: 50px;
    height: 50px;

    @media (min-width: 744px) {
        width: 100px;
        height: 70px;

    }
}
.personagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personagem img {
    height: 80px;
    width: 101px;

    @media (min-width: 744px) {
        height: 160px;
        width: 202px;
    }
}
.personagem h5 {
    font-size: 1.6rem;

    @media (min-width: 744px) {
        font-size: 2rem;
    }
}
.personagem table {
    @media (min-width: 744px) {
        font-size: 1.8rem;
    }
}
.personagem table td {
    padding-right: 12px;
    padding-left: 12px ;
}
.game__bind {
    width: 100%;
    height: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #435E64;

    @media (min-width: 744px) {
        margin-top: 20px;
        height: 400px;
    }
}
.game__bind button {
    width: 100px;
    height: 20px;
    font-size: 1.2rem;
    background-color: #003858;
    border-radius: 8px;
    border: transparent;

    @media (min-width: 744px) {
        width: 200px;
        height: 40px;
        font-size: 2.2rem;
    }
}