.historia {
    margin-top: 258px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #455E64;
    min-height: 215px;
    position: relative;

    @media (min-width:744px) {
        margin-top: 58px;
        display: flex;
        flex-direction: row;
        min-height: 150px;
        position: relative;
        justify-content: start;
        align-items: start;
    }
    
    @media (min-width:1044px) {
        margin-top: 88px;
        min-height: 235px;
    }
}
.historia__descricao {
    margin-top: 50px;
    text-align: center;
    padding: 0 10px 5px;

    @media (min-width:744px) {
        margin-top: 0px;
        text-align: left;
        min-width: 373px;
        max-width: 419px;
    }
    @media (min-width:1044px) and (max-width:1291px) {
        padding: 21px 0 28px 30px;
        max-width: 730px;
        margin-right: 35%;
    }
    @media (min-width:1291px) {
        padding: 21px 0 28px 30px;
        min-width: 730px;
    }
    
}
.historia__descricao p {
    font-size: 10px;
    line-height: 16.5px;
    padding-bottom: 5px;
    font-family: 'roboto', sans-serif;

    @media (min-width:1044px) {
        font-size: 1.6rem;
        line-height: 24px;
    }
}
.historia__descricao h2 {
    padding-bottom: 5px;

}
.container .historia__img {
    width: 150px;
    text-align: center;
    position: absolute;
    top: -32%;
    padding-bottom: 80px;

    @media (min-width:744px) {
        width: 319px;
        position: absolute;
        top: -78px;
        right: -15px;
    }
    @media (min-width:1044px) and (max-width:1291px) {
        width: 450px;
        top: -60px;
        right: -50px;
    }
    @media (min-width:1292px) {
        width: 650px;
        top: -240px;
        right: -50px;
    }
}