 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Bebas Neue', cursive;
}
:root {
    font-size: 62.5%;
    
}
body {
    background-color: #003B5B;
}
.container {
    margin: 0 10px 0 ;

    @media (min-width: 744px) {
        margin: 0 29px  ;
    }

    @media (min-width: 744px) {
        margin: 0 56px;
    }
}
.hero {
    width: 100vw;
    min-height: 170px;
    max-height: 260px ;
    height: 100%;
    background-image: url(../imagens/background.png);
    background-size: cover;
    z-index: 1;

    @media (min-width: 744px) {
        min-height: 425px;
        height: 100%;
        background-image: url(../imagens/one-piece-straw-hats-anime-celeb.png);
    }

    @media (min-width: 1044px) {
        min-height: 810px;
        padding-top: 10px;
        background-image: url(../imagens/bando\ do\ Luffy2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.hero__nav {
    display: flex;
    justify-content: space-between;
    height: 32px;
    padding: 0 10px  ;

    @media (min-width: 744px) {
        height: 41px;
        padding: 0 18px ;
        margin: 0 29px;
        border-radius: 5px;
    }

    @media (min-width: 1044px) {
        height: 81px;
        padding: 0 35px ;
        margin: 0 56px;
        border-radius: 5px;
    }
    
}
.hero__nav img {
    height: 26px;

    @media (min-width: 744px) {
        height: 41px;        
    }

    @media (min-width: 1044px) {
        height: 81px;
    }
}
.hero__nav__theme {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(82, 79, 79, 0.28);
    backdrop-filter: blur(2px);

    @media (min-width: 744px) {
        gap: 15px;
    }

    @media (min-width: 1044px) {
        gap: 15px;
    }
}
.hero__nav__theme img {
    height: 26px;

    @media (min-width: 744px) {
        height: 30px;
    }

    @media (min-width: 1044px) {
        height: 70px;
    }
}
.hero__box {
    width: 182px;
    height: 222px;
    padding: 9px 22px;
    background: rgba(105, 105, 105, 0.09);
    backdrop-filter: blur(2px);
    border-radius: 8px ;
    margin: 180px auto;
    display: flex;
    flex-direction:column ;
    align-items: center;

    @media (min-width: 744px) {
        height: 288px;
        width: 237px;
        margin: 65px 29px;
        margin-bottom: 26px;
    }
    @media (min-width: 1044px) {
        height: 558px ;
        width: 458px;
        margin: 50px 0 26px;
        
    }
    
}
.hero__box h1 {
    border-bottom: 3px solid #F8b980 ;
    text-align: center;

    @media (min-width: 1044px) {
        margin-top: 15px;
        width: 100%;
    }
}
.hero__box p {
    font-size: 0.9rem;
    max-width: 100%;
    text-align: center;
    margin: 17px 0 ;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    line-height: 15px;

    
    @media (min-width: 744px) {
        font-size: 1.2rem;
    }
    @media (min-width: 1044px) {
        font-size: 1.8rem;
    }
}
.hero__box__div {
    padding-bottom: 22px;
    border-bottom: 3px solid #F8b980 ;
    text-align: center;

    @media (min-width: 1044px) {
        padding-bottom: 5rem;
    }

}
.hero__box__div input {
    height: 20px;
    width: 137px;
    border-radius: 15px;
    background-color: #fbf0f6;
    border: none;
    outline: none;
    color: black;
    padding: 8px;

    @media (min-width: 1044px) {
        height: 50px;
        width: 343px;
        border-radius: 15px;
        margin-top: 47px;
        font-size: 2rem;
    }
    
}
.hero__box button {
    height: 25px;
    width: 137px;
    border-radius: 15px;
    background-color: #F8b980;
    border: none;
    margin-top: 14px;

    @media (min-width: 1044px) {
        height: 63px;
        width: 343px;
        font-size: 3.2rem;
        margin-bottom: 7px;
    }
}
.hero__box input[type="checkbox"] {
    width: 5px;
    height: 5px;
    background-color: #fbf0f6;
    border: none;
    margin-right: 5px;

    @media (min-width: 1044px) {
        width: 10px;
        height: 10px;
    }
}
.hero__box span {
    font-size: 0.8rem;
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    margin-top: 5px;
}





.title--big {
    font-size: 24px;
    @media (min-width: 744px) {
        font-size: 2.4rem;
    }

    @media (min-width: 1044px) {
        font-size: 6.8rem;
    }

}
.title--medium {
    font-size: 1.8rem  ;
}